:host {
  .mat-dialog-content {
    position: relative;
  }
  .close-button {
    position: absolute;
    cursor: pointer;
    user-select: none;
    top: 0px;
    right: 20px;
    &:hover {
      color: gray;
    }
  }

  textarea {
    padding: 10px;
    border: 1px solid lightgray;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 200px 200px;
    column-gap: 20px;
    row-gap: 10px;

    .input-group {
      height: fit-content;
    }
  }
}
