<div mat-dialog-content>
  <mat-icon class="close-button" (click)="onNoClick()">close</mat-icon>

  <h1 mat-dialog-title>{{ data.isEditing ? 'Edit' : 'Create' }} {{ data.is_ask ? 'Ask' : 'Bid' }}</h1>
  <div style="margin: 10px; display: flex; flex-wrap: wrap">
    <div style="min-width: 120px">
      <img [src]="data.product.photo_url" onerror="this.src='assets/img/profiles/profile.jpg'" width="auto" height="150" />
    </div>

    <div style="margin-left: 50px">
      <strong style="font-size: large">{{ data.product.name }}</strong>
      <p>Released on {{ data.product.release_date | date: 'yyyy-MM-dd' }}</p>
    </div>
  </div>

  <form [formGroup]="theForm" (submit)="onSubmit($event)">
    <div class="grid-2">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Type:</div>
        </div>
        <ng-select
          formControlName="deal_method"
          class="form-control"
          style="padding: 0"
          [clearable]="false"
          [placeholder]="'--- select type ---'"
          [items]="deal_methods"
          [bindLabel]="'value'"
          [bindValue]="'uid'"
        >
        </ng-select>
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Unit:</div>
        </div>
        <ng-select
          formControlName="unit"
          class="form-control"
          style="padding: 0"
          [clearable]="false"
          [placeholder]="'--- select unit ---'"
          [items]="units"
          [bindLabel]="'value'"
          [bindValue]="'uid'"
        >
        </ng-select>
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Qty:</div>
        </div>
        <input formControlName="qty" class="form-control" placeholder="" type="number" min="0" />
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Price:</div>
        </div>
        <input formControlName="price" class="form-control" placeholder="" type="number" min="0" />
      </div>

      <div></div>

      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Total</div>
        </div>
        <div class="form-control" style="padding: 12px">{{ theForm.value.qty * theForm.value.price | currency }}</div>
      </div>
    </div>

    <div style="margin: 20px auto; text-align: center">
      <textarea formControlName="note" cols="45" rows="4" placeholder="Write message"></textarea>
    </div>

    <div class="w-100" style="text-align: center">
      <button mat-raised-button color="primary" type="submit" style="margin: 10px 0" [disabled]="theForm.invalid">
        {{ data.isEditing ? 'Save' : 'Create' }} {{ data.is_ask ? 'Ask' : 'Bid' }}
      </button>
    </div>
  </form>
</div>
