<ng-container *ngIf="isBusy">
  <mat-spinner></mat-spinner>
</ng-container>
<ng-container [style.display]="!isBusy ? 'block' : 'none'">
  <div style="display: grid; grid-template-columns: 250px 30px 250px auto; grid-template-rows: auto" *ngIf="product">
    <img [src]="product?.photo_url" onerror="this.src='assets/img/profiles/profile.jpg'" height="200" width="auto" />
    <div></div>
    <div>
      <h2>{{ product.name }}</h2>
      <p>Released on {{ product.release_date | date: 'yyyy-MM-dd' }}</p>

      <div style="display: grid; grid-template-columns: 100px 100px; row-gap: 10px">
        <div class="sell-price">
          <label>Highest Bid / Box</label>
          <p>{{ product.boxhighestbid || 0 | currency }}</p>
        </div>
        <div class="buy-price">
          <label>Lowest Ask / Box</label>
          <p>{{ product.boxlowestask || 0 | currency }}</p>
        </div>
        <div class="sell-price">
          <label>Highest Bid / Case</label>
          <p>{{ product.casehighestbid || 0 | currency }}</p>
        </div>
        <div class="buy-price">
          <label>Lowest Ask / Case</label>
          <p>{{ product.caselowestask || 0 | currency }}</p>
        </div>
      </div>
    </div>
    <div style="display: flex; flex-wrap: wrap; justify-content: space-around; align-items: flex-start">
      <div class="button" (click)="addToWatchlist()" *ngIf="!existInWatchlist" [ngClass]="{ busy: busyWatchlist }">
        <i class="fas fa-eye"></i>
        Add to watchlist
      </div>

      <div class="button" (click)="removeFromWatchlist()" *ngIf="existInWatchlist" [ngClass]="{ busy: busyWatchlist }">
        <i class="fas fa-eye-slash"></i>
        Remove from watchlist
      </div>
    </div>
  </div>

  <div style="margin-top: 30px; display: grid; grid-template-columns: 120px 120px 120px">
    <div class="button" (click)="openCreateHopeModal(false)">Create bid</div>
    <div class="button" (click)="openCreateHopeModal(true)">Create ask</div>
    <div class="button" (click)="openPriceHistory()">Price history</div>
  </div>
  <div class="table-grid mt-48">
    <div class="table-container">
      <p>Bids</p>
      <main-hopes-table
        [hopes]="bids"
        (sendOfferClicked)="openCreateOfferModal($event)"
        (editHopeClicked)="handleEditHope($event)"
        (deleteHopeClicked)="handleDeleteHope($event)"
      ></main-hopes-table>
    </div>
    <div class="table-container">
      <p>Asks</p>
      <main-hopes-table
        [hopes]="asks"
        (sendOfferClicked)="openCreateOfferModal($event)"
        (editHopeClicked)="handleEditHope($event)"
        (deleteHopeClicked)="handleDeleteHope($event)"
      ></main-hopes-table>
    </div>
    <div class="table-container">
      <p>My Bids for this item</p>
      <main-hopes-table [hopes]="myBids" (editHopeClicked)="handleEditHope($event)" (deleteHopeClicked)="handleDeleteHope($event)"></main-hopes-table>
    </div>
    <div class="table-container">
      <p>My Asks for this item</p>
      <main-hopes-table [hopes]="myAsks" (editHopeClicked)="handleEditHope($event)" (deleteHopeClicked)="handleDeleteHope($event)"></main-hopes-table>
    </div>
  </div>
</ng-container>
