<ng-container *ngIf="isBusy">
  <mat-spinner></mat-spinner>
</ng-container>
<ng-container [style.display]="!isBusy ? 'block' : 'none'">
  <div style="display: grid; grid-template-columns: 250px 30px 250px auto; grid-template-rows: auto" *ngIf="product">
    <img [src]="product?.imageUrl" width="250" height="auto" />
    <div></div>
    <div>
      <h2>{{ product.productName }}</h2>
      <p>Released on {{ product.releaseDate | date: 'longDate' }}</p>

      <div style="display: grid; grid-template-columns: 100px 100px; grid-template-rows: 50px 50px">
        <div class="sell-price">
          <label>Highest / Box</label>
          <p>{{ product.boxhighestbid | currency }}</p>
        </div>
        <div class="buy-price">
          <label>Lowest / Box</label>
          <p>{{ product.boxlowestask | currency }}</p>
        </div>
        <div class="sell-price">
          <label>Highest / Case</label>
          <p>{{ product.casehighestbid | currency }}</p>
        </div>
        <div class="buy-price">
          <label>Lowest / Case</label>
          <p>{{ product.caselowestask | currency }}</p>
        </div>
      </div>
    </div>
    <div style="display: flex; flex-wrap: wrap; justify-content: space-around; align-items: flex-start">
      <button mat-raised-button color="primary" style="color: white" (click)="openCreateHopeModal(false)">Create bid</button>
      <button mat-raised-button color="primary" style="color: white" (click)="openCreateHopeModal(true)">Create ask</button>
      <button mat-button (click)="openPriceHistory()">Price history</button>
      <button mat-button (click)="addToWatchlist()">
        <mat-icon>remove_red_eye</mat-icon>
        Add to watchlist
      </button>
    </div>
  </div>

  <div class="table-grid mt-48">
    <div class="table-container">
      <p>Bids</p>
      <main-hopes-table [hopes]="bids" (sendOfferClicked)="openCreateOfferModal($event)"></main-hopes-table>
    </div>
    <div class="table-container">
      <p>Asks</p>
      <main-hopes-table [hopes]="asks" (sendOfferClicked)="openCreateOfferModal($event)"></main-hopes-table>
    </div>
    <div class="table-container">
      <p>My Bids for this item</p>
      <main-hopes-table [hopes]="myBids"></main-hopes-table>
    </div>
    <div class="table-container">
      <p>My Asks for this item</p>
      <main-hopes-table [hopes]="myAsks"></main-hopes-table>
    </div>
  </div>
</ng-container>
