<div>
  <h2>{{ tableName | uppercase }}</h2>
  <div class="row">
    <div class="col">
      <mat-form-field>
        <input matInput placeholder="Search items" #input />
      </mat-form-field>
    </div>
    <div class="col-auto">
      <button mat-raised-button color="primary" (click)="onClickAddBulk()" style="margin-right: 50px">
        <i class="fas fa-plus"></i>
        CSV As Text
      </button>

      <button class="btn btn-primary" (click)="onClickAdd()">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <mat-expansion-panel class="w-100">
        <mat-expansion-panel-header>Show logs</mat-expansion-panel-header>
        <div style="max-height: 50vh">
          <perfect-scrollbar>
            <div *ngFor="let log of bulklogs">{{ log }}</div>
          </perfect-scrollbar>
        </div>
      </mat-expansion-panel>
    </div>
  </div>

  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>
    <ng-container matColumnDef="photo_url">
      <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>

      <mat-cell *matCellDef="let item">
        <img [src]="item.photo_url" onerror="this.src='assets/img/b2bexch/product_placeholder.png'" height="64" width="auto" class="profile-img" />
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</mat-header-cell>

      <mat-cell *matCellDef="let item">{{ item.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="category_id">
      <mat-header-cell *matHeaderCellDef>Sports</mat-header-cell>

      <mat-cell *matCellDef="let item">{{ consts.id2name(item.category_id, categories) }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="subcategory_id">
      <mat-header-cell *matHeaderCellDef>Year</mat-header-cell>

      <mat-cell *matCellDef="let item">{{ consts.id2name(item.subcategory_id, subcategories) }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="release_date">
      <mat-header-cell *matHeaderCellDef>Release Date</mat-header-cell>

      <mat-cell *matCellDef="let item">{{ item.release_date | date: 'yyyy-MM-dd' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>

      <mat-cell *matCellDef="let item">
        <button mat-icon-button color="primary" (click)="onClickEdit(item)">
          <i class="fas fa-edit fa-lg"></i>
        </button>
        <button mat-icon-button color="warn" (click)="onClickDelete(item)">
          <i class="fas fa-trash-alt fa-lg"></i>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator [length]="dataSource.countFiltered" [pageSize]="10" [pageSizeOptions]="[10, 15, 20]"></mat-paginator>
</div>
