<div>
  <h2>{{ tableName | uppercase }}</h2>
  <div class="row">
    <div class="col">
      <mat-form-field>
        <input matInput placeholder="Search items" #input />
      </mat-form-field>
    </div>
    <div class="col-auto"></div>
  </div>

  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="updated_at" matSortDirection="asc" matSortDisableClear>
    <ng-container matColumnDef="product_name">
      <mat-header-cell *matHeaderCellDef>Product Name</mat-header-cell>

      <mat-cell *matCellDef="let item">{{ item.product_name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="updated_at">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Updated</mat-header-cell>

      <mat-cell *matCellDef="let item">{{ item.updated_at | date: 'yyyy-MM-dd' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="seller_name">
      <mat-header-cell *matHeaderCellDef>Seller</mat-header-cell>

      <mat-cell *matCellDef="let item">{{ item.seller_name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="buyer_name">
      <mat-header-cell *matHeaderCellDef>Buyer</mat-header-cell>

      <mat-cell *matCellDef="let item">{{ item.buyer_name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>

      <mat-cell *matCellDef="let item">{{ item.price * item.qty | currency }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="feedback2seller">
      <mat-header-cell *matHeaderCellDef>Feedback To Seller</mat-header-cell>

      <mat-cell *matCellDef="let item">
        <i class="fas fa-smile fa-2x" style="color: rgb(52, 234, 95)" [ngStyle]="{ display: item.feedback2seller == 'like' ? 'block' : 'none' }"></i>
        <i class="fas fa-meh fa-2x" style="color: rgb(243, 254, 131)" [ngStyle]="{ display: item.feedback2seller == 'soso' ? 'block' : 'none' }"></i>
        <i
          class="fas fa-frown fa-2x"
          style="color: rgb(243, 94, 110)"
          [ngStyle]="{ display: item.feedback2seller == 'dislike' ? 'block' : 'none' }"
        ></i>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="feedback2buyer">
      <mat-header-cell *matHeaderCellDef>Feedback To Buyer</mat-header-cell>

      <mat-cell *matCellDef="let item">
        <i class="fas fa-smile fa-2x" style="color: rgb(52, 234, 95)" [ngStyle]="{ display: item.feedback2buyer == 'like' ? 'block' : 'none' }"></i>
        <i class="fas fa-meh fa-2x" style="color: rgb(243, 254, 131)" [ngStyle]="{ display: item.feedback2buyer == 'soso' ? 'block' : 'none' }"></i>
        <i
          class="fas fa-frown fa-2x"
          style="color: rgb(243, 94, 110)"
          [ngStyle]="{ display: item.feedback2buyer == 'dislike' ? 'block' : 'none' }"
        ></i>
      </mat-cell>
    </ng-container>

    <!-- <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>

      <mat-cell *matCellDef="let item">
        <button mat-icon-button color="primary" (click)="onClickEdit(item)">
          <i class="fas fa-edit fa-lg"></i>
        </button>
        <button mat-icon-button color="warn" (click)="onClickDelete(item)">
          <i class="fas fa-trash-alt fa-lg"></i>
        </button>
      </mat-cell>
    </ng-container> -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator [length]="dataSource.countFiltered" [pageSize]="10" [pageSizeOptions]="[10, 15, 20]"></mat-paginator>
</div>
