:host {
  .full-flex {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #f1f2f3;
  }

  .box {
    margin: auto;
    margin-top: 7%;
    width: 600px;
    background-color: #fff;
  }

  .title {
    background-color: #0280ff;
    padding: 30px 30px 15px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 28px;
    // text-transform: uppercase;
  }

  #form {
    padding: 30px;
    font-size: large;
  }

  #email {
    width: 100%;
  }
  .disabled {
    user-select: none;
  }
}
