<div class="full-flex">
  <div class="box">
    <div class="title">
      <mat-icon style="cursor: pointer" [routerLink]="'/auth/login'">keyboard_backspace</mat-icon>
      <span style="margin-left: 20px"> Forgot Password</span>
    </div>
    <form id="form" [formGroup]="forgotPasswordForm" (submit)="onSubmit($event)">
      <mat-form-field id="email">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-icon matSuffix class="secondary-text">mail</mat-icon>
        <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')"> Email is required </mat-error>
        <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')"> Please enter a valid email address </mat-error>
      </mat-form-field>

      <div style="display: flex">
        <div style="flex: 1"></div>
        <app-state-button btnClass="btn btn-primary font-weight-light" [showMessage]="false"> Send Reset Link </app-state-button>
      </div>
    </form>
  </div>
</div>
