<div>
  <div style="margin: 10px 0px">
    <strong>ADD PAYMENT DETAILS</strong>
  </div>
  <div>
    <input style="width: 200px" placeholder="Payment Details: PayPal Transaction ID, Check" />
  </div>
  <div style="margin: 20px 0">
    <ng-container *ngIf="!offer.is_paid; else elseTemplate">
      <ng-container *ngIf="offer.seller_id == userService.me.id; else elseTemplate1">
        <button class="btn btn-primary" (click)="onClickConfirm()">Mark as Paid</button>
      </ng-container>
      <ng-template #elseTemplate1>
        <button class="btn btn-primary" disabled>Pending Their Confirm Payment</button>
      </ng-template>
    </ng-container>
    <ng-template #elseTemplate>
      <button class="btn btn-primary" disabled>Payment Confirmed</button>
    </ng-template>
  </div>

  <strong>PAYMENT TO</strong>
  <p>PayPal Address: varun@gmail.com</p>

  <div class="mt-48">
    <p>Varun K (VARUNK)</p>
    <p>1234 Main St</p>
    <p>Los Angeles CA 90045</p>
    <p>714-555-5555</p>
    <p>varun@gmail.com</p>
  </div>
</div>
