<div>
  <div style="margin: 10px 0px">
    <strong>ADD PAYMENT DETAILS</strong>
  </div>
  <div>
    <input style="width: 200px" placeholder="Payment Details: PayPal Transaction ID, Check" />
  </div>
  <div style="margin: 20px 0">
    <button class="btn btn-primary" (click)="onClickConfirm()">Mark as Paid</button>
  </div>

  <strong>PAYMENT TO</strong>
  <p>PayPal Address: varun@gmail.com</p>

  <div class="mt-48">
    <p>Varun K (VARUNK)</p>
    <p>1234 Main St</p>
    <p>Los Angeles CA 90045</p>
    <p>714-555-5555</p>
    <p>varun@gmail.com</p>
  </div>
</div>
