<div mat-dialog-content>
  <div mat-dialog-title>CA_B2B is offering to buy from VARUNK on 11/16/20</div>

  <div>
    <div mat-dialog-title>2020 DONRUSS BASEBALL</div>
    <div style="display: grid; grid-template-columns: 200px 100px 200px 200px">
      <div class="form-group">
        <label>Type</label>
        <div>Box Retail</div>
      </div>
      <div class="form-group">
        <label>Qty</label>
        <div>8</div>
      </div>
      <div class="form-group">
        <label>Price</label>
        <div>$900.00 / box</div>
      </div>
      <div class="form-group">
        <label>Total</label>
        <div>$7,200.00</div>
      </div>
    </div>
    <div>
      <div class="form-group">
        <label>Message</label>
        <textarea>Thank you and have a nice day</textarea>
      </div>
    </div>
    <button mat-raised-button color="warning">Cacel Offer</button>
  </div>
</div>
