<div style="display: flex; align-items: center">
  <main-category-select (categoriesSelected)="handleCategoriesSelected($event)"></main-category-select>
  <main-deal-method-select style="margin-left: 20px; width: 200px" [isAll]="true" (valueChanged)="handleChangeType($event)"></main-deal-method-select>
  <main-listing-time-select style="margin-left: 20px" (valueChanged)="handleChangeListing($event)"></main-listing-time-select>
</div>
<div style="margin-top: 20px">
  <div *ngIf="isBusy" style="display: flex; align-items: center; justify-content: center; margin-top: 100px">
    <mat-spinner></mat-spinner>
  </div>
  <div [style.display]="isBusy ? 'none' : 'block'">
    <market-hopes-table [hopes]="bids" [is_ask]="false"></market-hopes-table>
  </div>
</div>

<div style="margin-top: 20px">
  <div *ngIf="isBusy" style="display: flex; align-items: center; justify-content: center; margin-top: 100px">
    <mat-spinner></mat-spinner>
  </div>
  <div [style.display]="isBusy ? 'none' : 'block'">
    <market-hopes-table [hopes]="asks" [is_ask]="true"></market-hopes-table>
  </div>
</div>
