.card {
  background-color: rgb(236, 236, 236);
  padding: 10px;
}

.title {
  font-size: 21px;
  font-weight: 600;
  font-family: Inter;

  color: #0f1b41, 100%;
}

.terms {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .term {
    flex-direction: column;
    margin-right: 24px;

    label {
      font-size: 16px;
      line-height: 10px;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      color: #547282;
    }

    p {
      font-size: 15px;
      line-height: 26px;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      color: #2c2c2c;
    }
  }
}

.actions {
  width: 100%;
  display: flex;
  flex-direction: row;

  .action {
    flex: 1;
    padding: 20px;
  }

  .rborder {
    border-right: 1px solid lightgray;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.expandable {
  overflow-y: hidden;
  transition: height 0.5s linear;
}
