<app-chat-box *ngIf="chatId" [chat]="getChatById(chats, chatId)"></app-chat-box>

<app-application-menu>
  <tabset class="card-tabs h-100" [justified]="true">
    <tab [heading]="'chat.messages' | translate" class="card-body h-100">
      <app-chat-list [chats]="chats" [activeChatId]="chatId"></app-chat-list>
    </tab>
    <tab [heading]="'chat.contacts' | translate" class="card-body h-100">
      <app-contact-list [contacts]="tenUsers"> </app-contact-list>
    </tab>
  </tabset>
</app-application-menu>
