<div style="display: flex; align-items: center">
  <div style="width: 140px">{{ 0 }} items selected</div>
  <button mat-stroked-button color="primary" style="font-size: small !important; color: #0175e9">Add to Cart</button>
  <div style="flex: 1"></div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input />
  </mat-form-field>
</div>

<div class="table-title">{{ is_ask ? 'Asks / For Sale' : 'Bids / Wanted' }}</div>

<table mat-table [dataSource]="dataSource" matSort style="width: 100%">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
      >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="dealer_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Dealer</th>
    <td mat-cell *matCellDef="let element">{{ element.dealer_name }}</td>
  </ng-container>

  <ng-container matColumnDef="product_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
    <td mat-cell *matCellDef="let element">{{ element.product_name }}</td>
  </ng-container>

  <ng-container matColumnDef="deal_method">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Type</th>
    <td mat-cell *matCellDef="let element">{{ element.deal_method }}</td>
  </ng-container>

  <ng-container matColumnDef="qty">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Qty</th>
    <td mat-cell *matCellDef="let element">{{ element.qty }}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
    <td mat-cell *matCellDef="let element">{{ element.price || 0 | currency }}</td>
  </ng-container>

  <ng-container matColumnDef="unit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit</th>
    <td mat-cell *matCellDef="let element">{{ element.unit }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onClickRow(row)"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
