.table-title {
  height: 39px;
  background: #0175e9;
  width: 100%;
  border: 1px solid #f5f3f3;
  // margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

a {
  text-decoration: underline;
  color: blue;
}
