:host {
  td,
  th {
    border: 1px solid #ddd;
    padding: 0 8px;
  }
  tr {
    cursor: pointer;
  }
  tr:nth-child(even) {
    background-color: white;
  }
  tr:hover {
    td {
      color: #0280ff;
    }
  }
}
