<ng-container *ngIf="!offer; else elseTemplate"> loading offer... </ng-container>
<ng-template #elseTemplate>
  <ng-container *ngIf="offer.creator_id == offer.buyer_id; else elseTemplate">
    <div class="title">{{ offer.buyer_name }} is offering to buy from {{ offer.seller_name }} on {{ offer.created_at | date: 'shortDate' }}</div>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="title">{{ offer.seller_name }} sent an offer to sell to {{ offer.buyer_name }} on {{ offer.created_at | date: 'shortDate' }}</div>
  </ng-template>

  <ng-container *ngIf="offer">
    <div class="subtitle">{{ offer.product_name }}</div>
    <div class="product-detail">
      <div class="form-group">
        <label>Type</label>
        <div>{{ offer.hope_unit }} {{ offer.hope_deal_method }}</div>
      </div>
      <div class="form-group">
        <label>Qty</label>
        <div>{{ offer.qty }}</div>
      </div>
      <div class="form-group">
        <label>Price/{{ offer.hope_unit }}</label>
        <div>{{ offer.price | currency }}</div>
      </div>
      <div class="form-group">
        <label>Total</label>
        <div>{{ offer.qty * offer.price | currency }}</div>
      </div>
    </div>
    <div class="form-group">
      <label>Message</label>
      <div>{{ offer.note }}</div>
    </div>

    <ng-container *ngIf="'' + offer.creator_id == me.id; else elseTemplate">
      <button class="btn btn-danger" (click)="onClickCancel()">Cancel Offer</button>
    </ng-container>
    <ng-template #elseTemplate>
      <button class="btn btn-success" (click)="onClickAccept()">Accept</button>
      <button class="btn btn-danger" style="margin-left: 24px" (click)="onClickDecline()">Decline</button>
    </ng-template>

    <div class="title">TERMS</div>
    <div class="terms">
      <div class="form-group">
        <label>Offer Expires</label>
        <div>1 Day</div>
      </div>
      <div class="form-group">
        <label>Payment Timing</label>
        <div>{{ payment_timings[offer.payment_timing].title }}</div>
      </div>
      <div class="form-group">
        <label>Payment Method</label>
        <div>{{ payment_methods[offer.payment_method].title }}</div>
      </div>
    </div>
    <div class="form-group">
      <label>Shipping Terms</label>
      <div>
        These are pulled from the seller’s profile. These are pulled from the seller’s profile. These are pulled from the seller’s profile. These are
        pulled from the seller’s profile.
      </div>
    </div>

    <div class="title">ORIGINAL {{ offer.hope_is_ask ? 'ASK' : 'BID' }}</div>
    <div class="original">
      <div class="form-group">
        <label>{{ offer.hope_is_ask ? 'Buyer' : 'Seller' }}</label>
        <div>{{ offer.hope_is_ask ? offer.buyer_name : offer.seller_name }}</div>
      </div>
      <div class="form-group">
        <label>Type</label>
        <div>{{ offer.hope_unit }} {{ offer.hope_deal_method }}</div>
      </div>
      <div class="form-group">
        <label>Qty</label>
        <div>{{ offer.hope_qty }}</div>
      </div>
      <div class="form-group">
        <label>Price/{{ offer.hope_unit }}</label>
        <div>{{ offer.hope_price | currency }}</div>
      </div>
    </div>
  </ng-container>
</ng-template>
