<div mat-dialog-content>
  <div style="display: flex">
    <div class="title">Offer on {{ data.offer.created_at | date }}</div>
    <div style="flex: 1"></div>
    <mat-icon class="close-button" (click)="dialogRef.close()">close</mat-icon>
  </div>

  <div>
    <mat-horizontal-stepper [linear]="true" #stepper [selectedIndex]="currentStepId">
      <mat-step
        *ngFor="let flowStep of flowSteps; let i = index"
        [label]="flowStep.label"
        [completed]="flowStep.state == 'done'"
        [state]="flowStep.state"
      >
        <div style="margin-top: 32px">
          <main-offer-contract
            *ngIf="flowStep.uid == 'contract'"
            [offer]="data.offer"
            (offerChanged)="handleOfferChanged($event)"
          ></main-offer-contract>

          <main-offer-payment *ngIf="flowStep.uid == 'payment'" [offer]="data.offer" (offerChanged)="handleOfferChanged($event)"></main-offer-payment>

          <main-offer-shipment
            *ngIf="flowStep.uid == 'shipping'"
            [offer]="data.offer"
            (offerChanged)="handleOfferChanged($event)"
          ></main-offer-shipment>

          <main-offer-feedback
            *ngIf="flowStep.uid == 'feedback'"
            [offer]="data.offer"
            (offerChanged)="handleOfferChanged($event)"
          ></main-offer-feedback>
        </div>
      </mat-step>

      <!-- Icon overrides. -->
      <ng-template matStepperIcon="number">
        <mat-icon></mat-icon>
      </ng-template>

      <ng-template matStepperIcon="cannot">
        <mat-icon></mat-icon>
      </ng-template>

      <ng-template matStepperIcon="edit">
        <mat-icon>panorama_fish_eye</mat-icon>
      </ng-template>

      <ng-template matStepperIcon="done">
        <mat-icon>done</mat-icon>
      </ng-template>
    </mat-horizontal-stepper>
  </div>
</div>
<div mat-dialog-actions style="flex-direction: column"></div>
