<div mat-dialog-content>
  <div style="display: flex">
    <div class="title">Offer on {{ data.offer.created_at | date }}</div>
    <div style="flex: 1"></div>
    <mat-icon class="close-button" (click)="onNoClick()">close</mat-icon>
  </div>

  <div>
    <mat-horizontal-stepper [linear]="true" #stepper [selectedIndex]="selectedStepId">
      <mat-step label="Contract" [completed]="data.offer.is_accepted" [state]="statusState(data.offer, 0)">
        <div style="margin-top: 32px">
          <main-offer-contract [offer]="data.offer" (offerChanged)="handleOfferChanged($event)"></main-offer-contract>
        </div>
      </mat-step>

      <mat-step label="Pay / Ship" [completed]="data.offer.is_paid && data.offer.is_shipped" [state]="statusState(data.offer, 1)">
        <div style="margin-top: 32px">
          <main-offer-payment [offer]="data.offer" (offerChanged)="handleOfferChanged($event)"></main-offer-payment>
          <main-offer-shipment [offer]="data.offer" (offerChanged)="handleOfferChanged($event)"></main-offer-shipment>
        </div>
      </mat-step>

      <mat-step label="Feedback" [completed]="myFeedback()" [state]="statusState(data.offer, 2)">
        <div style="margin-top: 32px">
          <main-offer-feedback [offer]="data.offer" (offerChanged)="handleOfferChanged($event)"></main-offer-feedback>
        </div>
      </mat-step>

      <!-- Icon overrides. -->
      <ng-template matStepperIcon="number">
        <mat-icon></mat-icon>
      </ng-template>

      <ng-template matStepperIcon="edit">
        <mat-icon>panorama_fish_eye</mat-icon>
      </ng-template>

      <ng-template matStepperIcon="done">
        <mat-icon>done</mat-icon>
      </ng-template>
    </mat-horizontal-stepper>
  </div>
</div>
<div mat-dialog-actions style="flex-direction: column"></div>
