<div dropdown>
  <button id="button-basic" dropdownToggle type="button" id="notificationButton" class="header-icon btn btn-empty">
    <i class="fas fa-bell"></i>
    <span class="count" *ngIf="unreadNotifs.length > 0">{{ unreadNotifs.length }}</span>
  </button>

  <div id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right mt-3" id="notificationDropdown">
    <perfect-scrollbar class="scroll" [config]="{ suppressScrollX: true, wheelPropagation: false }">
      <ng-container *ngFor="let notif of notifs">
        <div class="d-flex flex-row mb-3 pb-3 border-bottom" (click)="onClickNotif(notif)">
          <a href="javascript:;" style="min-width: 40px">
            <img
              [src]="notif.action_payload.sender_photo"
              onerror="this.src='assets/img/profiles/profile.jpg'"
              alt="Notification Image"
              class="img-thumbnail list-thumbnail xsmall border-0 rounded-circle"
            />
          </a>
          <div class="pl-3">
            <a href="javascript:;" [ngClass]="{ unread: !notif.is_read }">
              <p class="font-weight-medium mb-1">{{ notif.action_text }}</p>
              <p class="text-muted mb-0 text-small">{{ notif.timestamp | date: 'yyyy-MM-dd HH:mm' }}</p>
            </a>
          </div>
        </div>
      </ng-container>

      <button class="btn btn-light w-100" (click)="onClickShowMore($event)">VIEW MORE</button>
    </perfect-scrollbar>
  </div>
</div>
