<div>
  <div style="display: flex">
    <div style="flex: 1"></div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input />
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" matSort style="width: 100%; background-color: transparent">
    'dealer_name', 'product_type', 'qty', 'amount'
    <ng-container matColumnDef="dealer_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Dealer</th>
      <td mat-cell *matCellDef="let element">{{ element.dealer_name }}</td>
    </ng-container>

    <ng-container matColumnDef="product_type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let element">{{ element.product_type }}</td>
    </ng-container>

    <ng-container matColumnDef="qty">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Qty</th>
      <td mat-cell *matCellDef="let element">{{ element.qty }}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
      <td mat-cell *matCellDef="let element">{{ element.amount || 0 | currency }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onClickRow(row)"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" style="background-color: transparent"></mat-paginator>
</div>
