<div>
  <div style="margin: 20px 0">
    <ng-container *ngIf="!offer.is_shipped; else elseTemplate2">
      <ng-container *ngIf="offer.buyer_id == userService.me.id; else elseTemplate3">
        <button mat-raised-button color="primary" (click)="onClickConfirm()">Mark as Shipped</button>
      </ng-container>
      <ng-template #elseTemplate3>
        <alert type="warning" disabled>Pending Their Confirm</alert>
      </ng-template>
    </ng-container>
    <ng-template #elseTemplate2>
      <alert type="success" disabled>Shipping Confirmed</alert>
    </ng-template>
  </div>

  <div *ngIf="buyer" style="border: 1px solid lightgray; padding: 20px 20px">
    <p style="font-weight: 900">SHIP TO</p>
    <p>{{ buyer.first_name }} {{ buyer.last_name }} ({{ seller.user_name }})</p>
    <p>Shipping Address: {{ buyer.shippingaddress1 }}</p>
    <p>Phone Number: {{ buyer.phone_number }}</p>
    <p>Emali Address: {{ buyer.email }}</p>
  </div>
</div>
