<div>
  <div style="margin: 10px 0px">
    <strong>ADD SHIPMENT DETAILS</strong>
  </div>
  <div>
    <input style="width: 200px" placeholder="Shipping Company" />
    <input style="width: 200px" placeholder="Tracking Number" />
  </div>
  <div style="margin: 20px 0">
    <button class="btn btn-primary" (click)="onClickConfirm()">Mark as Shipped</button>
  </div>

  <strong>SHIP TO</strong>
  <p>Micahel Hsu (CA-B2B)</p>

  <div>
    <p>8726 S Sepulveda Blvd Ste D #247</p>
    <p>Los Angeles CA 90045</p>
    <p>626-215-6165</p>
    <p>hi@theravine.la</p>
  </div>
</div>
