<div mat-dialog-content>
  <mat-icon class="close-button" (click)="onNoClick()">close</mat-icon>

  <h1 mat-dialog-title>Create {{ data.is_ask ? 'Ask' : 'Bid' }}</h1>
  <div style="margin: 10px; display: grid; grid-template-columns: 150px 20px 150px; grid-template-rows: 150px">
    <img [src]="data.product.imageUrl" width="150" height="auto" />
    <div></div>
    <div>
      <strong style="font-size: large">{{ data.product.productName }}</strong>
      <p>Released on {{ data.product.releaseDate | date: 'longDate' }}</p>
    </div>
  </div>

  <div style="display: flex; flex-wrap: wrap">
    <div class="input-group" style="width: 150px; margin: 10px">
      <div class="input-group-prepend">
        <div class="input-group-text">Per:</div>
      </div>
      <ng-select
        class="form-control"
        style="padding: 0"
        [clearable]="false"
        [placeholder]="'--- select unit ---'"
        [items]="['Box', 'Case']"
        [(ngModel)]="unit"
        (change)="unitWillChange($event)"
      >
      </ng-select>
    </div>

    <div style="margin: 10px; width: 200px">
      <main-deal-method-select (valueChanged)="deal_method = $event"></main-deal-method-select>
    </div>
  </div>

  <div style="display: flex; flex-wrap: wrap">
    <div class="input-group" style="margin: 10px; width: 150px">
      <div class="input-group-prepend">
        <div class="input-group-text">Qty:</div>
      </div>
      <input class="form-control" placeholder="" [(ngModel)]="qty" />
    </div>

    <div class="input-group" style="margin: 10px; width: 200px">
      <div class="input-group-prepend">
        <div class="input-group-text">Price / {{ unit }}:</div>
      </div>
      <input class="form-control" placeholder="" [(ngModel)]="price" />
    </div>
  </div>

  <div style="margin: 10px; text-align: center">
    <textarea cols="45" rows="8" placeholder="Write message" [(ngModel)]="note"></textarea>
  </div>
</div>
<div mat-dialog-actions style="flex-direction: column">
  <div>
    <button mat-raised-button color="primary" style="margin: 20px auto" (click)="onClickCreate()">Create {{ data.is_ask ? 'Ask' : 'Bid' }}</button>
  </div>

  <!-- <div style="text-align: center; color: gray; margin-bottom: 50px">
    ALL OFFERS SENT ARE BINDING AND CANNOT BE CANCELED IF ACCEPTED BY THE OTHER PARTY
  </div> -->
</div>
