<div style="display: flex; align-items: center">
  <div style="width: 140px">{{ 0 }} items selected</div>
  <button mat-stroked-button color="primary" style="font-size: small !important; color: #0175e9">Add to Cart</button>
  <div style="flex: 1"></div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input />
  </mat-form-field>
</div>

<div class="table-title">Bids / Wanted</div>

<table mat-table [dataSource]="dataSource" matSort style="width: 100%">
  <!-- <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
    </ng-container> -->

  <ng-container matColumnDef="user_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Dealer</th>
    <td mat-cell *matCellDef="let element">{{ element.user_name }}</td>
  </ng-container>

  <ng-container matColumnDef="productName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
    <td mat-cell *matCellDef="let element">{{ element.productName }}</td>
  </ng-container>

  <ng-container matColumnDef="producttype">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Type</th>
    <td mat-cell *matCellDef="let element">{{ element.producttype }}</td>
  </ng-container>

  <ng-container matColumnDef="categoryName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sport</th>
    <td mat-cell *matCellDef="let element">{{ element.categoryName }}</td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
    <td mat-cell *matCellDef="let element">{{ element.amount || 0 | currency }}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit</th>
    <td mat-cell *matCellDef="let element">{{ element.type }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
