<div [ngClass]="{ 'float-right': msg.senderId === chat.me.id, 'float-left': msg.senderId !== chat.me.id, 'card d-inline-block mb-3': true }">
  <div class="position-absolute pt-1 pr-2 r-0">
    <span class="text-extra-small text-muted">{{ msg.timestamp | date: 'shortTime' }}</span>
  </div>
  <div class="card-body">
    <div class="d-flex flex-row pb-2">
      <a class="d-flex" href="javascript:;">
        <img
          [alt]="getUser(msg.senderId).first_name"
          [src]="getUser(msg.senderId).profile_image_url"
          class="img-thumbnail border-0 rounded-circle mr-3 list-thumbnail align-self-center xsmall"
        />
      </a>
      <div class="d-flex flex-grow-1 min-width-zero">
        <div class="m-2 pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
          <div class="min-width-zero">
            <p class="mb-0 truncate list-item-heading">{{ getUser(msg.senderId).first_name + ' ' + getUser(msg.senderId).last_name }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- <ng-container *ngIf="msg.content.action; else textMsg">
      <ng-container *ngIf="msg.content.action == OfferActions.offer_created">
        <div class="offer-action">
          <main-offer-pending [offerId]="msg.content.value" [me]="chat.me" [other]="chat.other"></main-offer-pending>
        </div>
      </ng-container>

      <ng-container *ngIf="msg.content.action == OfferActions.offer_accepted">
        <ng-container *ngIf="chat.me.id != msg.senderId; else elseTemplate">
          <div class="chat-text-left">
            <p class="mb-0 text-semi-muted">Offer accepted, please wait for the payment confirmation.</p>
          </div>
        </ng-container>
        <ng-template #elseTemplate>
          <div class="offer-action">
            <main-offer-payment [offerId]="msg.content.value" [me]="chat.me" [other]="chat.other"></main-offer-payment>
          </div>
        </ng-template>
      </ng-container>

      <ng-container *ngIf="msg.content.action == OfferActions.offer_paid">
        <ng-container *ngIf="chat.me.id == msg.senderId; else elseTemplate">
          <div class="chat-text-left">
            <p class="mb-0 text-semi-muted">Offer paid, please wait for the shipment confirmation.</p>
          </div>
        </ng-container>
        <ng-template #elseTemplate>
          <div class="offer-action">
            <main-offer-shipment [offerId]="msg.content.value" [me]="chat.me" [other]="chat.other"></main-offer-shipment>
          </div>
        </ng-template>
      </ng-container>
    </ng-container> -->

    <ng-template #textMsg>
      <div class="chat-text-left">
        <p class="mb-0 text-semi-muted">{{ msg.content.text }}</p>
      </div>
    </ng-template>
  </div>
</div>
