<div style="display: flex">
  <div class="input-group" style="width: 250px; margin-right: 20px">
    <div class="input-group-prepend">
      <div class="input-group-text" style="width: 70px">Sport</div>
    </div>
    <ng-select
      class="form-control"
      style="padding: 0"
      [clearable]="false"
      [placeholder]="'--- select sport ---'"
      [items]="categories"
      bindLabel="categoryName"
      (change)="onChangeCategory($event)"
      [(ngModel)]="category"
    >
    </ng-select>
  </div>

  <div class="input-group" style="width: 250px">
    <div class="input-group-prepend">
      <div class="input-group-text" style="width: 70px">Year</div>
    </div>
    <ng-select
      class="form-control"
      style="padding: 0"
      [clearable]="false"
      [placeholder]="'--- select year ---'"
      [items]="subcategories"
      bindLabel="subcategory_name"
      (change)="onChangeSubcategory($event)"
      [(ngModel)]="subcategory"
    >
    </ng-select>
  </div>
</div>
