@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

.required:after {
  content: ' *';
  color: red;
}

.green-snackbar {
  background-color: green !important;
  color: white !important;
}
.green-snackbar button {
  background-color: green !important;
  color: white !important;
  border: none;
}
.red-snackbar {
  background-color: darkred !important;
  color: white !important;
}
.red-snackbar button {
  background-color: darkred !important;
  color: white !important;
  border: none;
}

.custom-dialog-container .mat-dialog-container .mat-dialog-content {
  overflow: visible;
}

div.button {
  width: fit-content;
  color: #0280ff;
  font-size: medium;
  cursor: pointer;

  display: flex;
  align-items: center;

  &:hover {
    opacity: 0.7;
  }
}

.alert {
  width: fit-content;
  border-radius: 10px !important;
  padding: 10px !important;
  user-select: none;
  pointer-events: none;
}
