@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", monospace;
}

button {
  border-radius: 5% !important;
  font-size: large !important;
}

.required:after {
  content: " *";
  color: red;
}

.green-snackbar {
  background-color: green !important;
  color: white !important;
}
.green-snackbar button {
  background-color: green !important;
  color: white !important;
  border: none;
}
.red-snackbar {
  background-color: darkred !important;
  color: white !important;
}
.red-snackbar button {
  background-color: darkred !important;
  color: white !important;
  border: none;
}
