<nav class="navbar fixed-top" style="z-index: 100 !important" [ngClass]="{ adminNav: isAdminSite }">
  <div class="d-flex align-items-center navbar-left">
    <a
      (click)="menuButtonClick($event, sidebar.menuClickCount, sidebar.containerClassnames); (false)"
      href="javascript:;"
      class="menu-button d-none d-md-block"
    >
      <svg class="main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 17">
        <rect x="1.56" y="0.5" width="46" height="2" />
        <rect x="1.56" y="7.5" width="46" height="2" />
        <rect x="1.56" y="14.5" width="46" height="4" />
      </svg>
      {{ ' ' }}
      <svg class="sub" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 17" style="display: none">
        <rect x="1.56" y="0.5" width="16" height="1" />
        <rect x="1.56" y="7.5" width="16" height="1" />
        <rect x="1.56" y="15.5" width="16" height="1" />
      </svg>
    </a>

    <a
      (click)="mobileMenuButtonClick($event, sidebar.containerClassnames)"
      href="javascript:;"
      class="menu-button-mobile d-xs-block d-sm-block d-md-none"
    >
      <button id="button-basic" type="button" class="header-icon btn btn-empty">
        <i class="fas fa-bars"></i>
      </button>
    </a>

    <a class="navbar-logo" [routerLink]="'/'">
      <span class="logo d-none d-xs-block"></span>
      <span class="logo-mobile d-block d-xs-none"></span>
    </a>

    <div *ngIf="userService.me.role == 'admin'" class="admin-link">
      <div *ngIf="isAdminSite" style="color: white">
        This is Admin Site:
        <a [routerLink]="['/main']"> Go To User Site</a>
      </div>
      <div *ngIf="!isAdminSite" style="color: white">
        This is User Site:
        <a [routerLink]="['/admin']"> Go To Admin Site</a>
      </div>
    </div>
  </div>

  <div class="navbar-right">
    <div class="header-icons d-inline-block align-middle">
      <div class="position-relative d-inline-block">
        <div dropdown>
          <button id="button-basic" dropdownToggle type="button" id="notificationButton" class="header-icon btn btn-empty">
            <i class="fas fa-bell"></i>
            <span class="count" *ngIf="notifs.length > 0">{{ notifs.length }}</span>
          </button>
          <div id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right mt-3" id="notificationDropdown">
            <app-notif-list></app-notif-list>
          </div>
        </div>
      </div>

      <button class="header-icon btn btn-empty d-none d-sm-inline-block" type="button" id="fullScreenButton" (click)="fullScreenClick()">
        <i *ngIf="!isFullScreen" class="fas fa-expand-arrows-alt"></i>
        <i *ngIf="isFullScreen" class="fas fa-compress-arrows-alt"></i>
      </button>
    </div>

    <div class="user d-inline-block" dropdown>
      <button class="btn btn-empty p-0" type="button" dropdownToggle>
        <span>
          <img [src]="userService.me?.photo_url" onerror="this.src='assets/img/profiles/profile.jpg'" />
        </span>
      </button>

      <div class="dropdown-menu dropdown-menu-right mt-3" *dropdownMenu role="menu">
        <a class="dropdown-item c-pointer" [routerLink]="['/main/settings/account']">Account</a>
        <a class="dropdown-item c-pointer" [routerLink]="['/main/help']">Support</a>
        <li class="divider dropdown-divider"></li>
        <a class="dropdown-item c-pointer" (click)="onSignOut()">Sign out</a>
      </div>
    </div>
  </div>
</nav>
