<div mat-dialog-content>
  <div style="position: relative">
    <mat-icon class="close-button" (click)="dialogRef.close()">close</mat-icon>

    <h1 mat-dialog-title>{{ data.isEditing ? 'Edit' : 'Create' }} Category</h1>
  </div>

  <form [formGroup]="theForm" id="signup-form" (submit)="updateItem()">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label class="required">Category Name</mat-label>
          <input matInput placeholder="Category Name" formControlName="name" maxlength="40" />
          <mat-error *ngIf="theForm.get('name').hasError('required')">Name is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label class="required">Priority</mat-label>
          <input matInput formControlName="priority" placeholder="Priority" type="number" />
          <mat-error *ngIf="theForm.get('priority').hasError('required')">Priority is required</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row mt-48">
      <div class="col-12" style="text-align: center">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </div>
  </form>
</div>

<div mat-dialog-actions style="flex-direction: column"></div>
